.add-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    box-sizing: border-box;
    height: 90vh;

    position: relative;
    top: 2.5vh;
}

.first-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid white;
}

h2 {
    position: relative;
    top: 10%;
}

p {
    position: relative;
    top: -25%;
}

.image-container button {
    position: relative;
    bottom: 10%;

    background: transparent;
    min-width: 60px;
    max-width:calc(100% - 100px);
    height: 50px;

    border: 1px solid white;
    padding: 0 20px;

    color: white;
}

#download-btn {
    position: relative;
    top: 5%;
    width: 100px;
    height: 40px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,  #48ff00, #00ffd5);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffffff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes gradientAnimation {
    0% {
      border-image-source: linear-gradient(to bottom, #0099cc, #48ff00);
    }
    50% {
      border-image-source: linear-gradient(to bottom, #48ff00, #0099cc);
    }
    100% {
      border-image-source: linear-gradient(to bottom, #0099cc, #48ff00);
    }
  }